.navbar {
    background-color: #9c27b0 !important;
}

.vaga-titulo {
    font-weight: 600;
    color: #012237;
    font-size: 24px;
    margin: 0;
    margin-bottom: 5px;
}

.vaga-icone {
    margin-right: 10px;
    transition: all .4s ease;
    font-size: 15px;
    color: #f16101;
}

.vaga-icone:hover {
    color: #012237;
}

.orange {
    color: #f16101;
}

@media (max-width: 480px) {
    .navbar .navbar-brand {
        padding: 17px 20px;
    }

    .container > .navbar-header > .navbar-brand{
        margin: 0 auto;
        text-align: center !important;
    }
}